button {
    border: none;
    background: rgba(0,0,0,0);
    padding: 10px;
    margin: 0 10px;
}

button:focus {
    outline: none;
}

button svg path {
    fill: #fff;
}

button svg {
    height: 30px;
    width: 30px;
}